---
// import Header from "../components/Header.astro";
// import Footer from "../components/Footer.astro"
// import "../styles/global.css"
import "../styles/index.css"
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About"
---
<BaseLayout pageTitle={pageTitle}>
	<div class="profile-container">
		<div class="profile-image">
			<img src="public/test.jpeg" alt="Rohan Kamath">
		</div>
		<div class="profile-info">
			<h1>Rohan Kamath</h1>
			<p> 
				I am a Master's student in Computer Science at Syracuse University. I am research assistant at the 
				<a href="https://c4-lab.github.io/">C4 Lab</a> lead by Professor <a href="https://c4-lab.github.io/josh-introne/">Joshua Introne</a>.
				Here I am working on the <a href="https://c4-lab.github.io/belief-landscape/"> Belief Landscape Framework</a>, where my contributions
				is introducing a workflow to clean and processing feather files containing 75 million data points. I am currently researching and
				implementing DynGEM, attempting to improve upon the existing framework for better results.
			</p>
			<p>
				<b> I am currently looking for full time job opportunities for Fall 24, in the domains of software development and data science. </b>
				Please feel free to download my resume. You can send me an <a href="mailto:rkamath@syr.edu">email</a> to reach out to me. 
			</p>	
		</div>
	</div>
</BaseLayout>
