---

---

<!-- Footer -->
<footer class="bg-body-tertiary text-center">
    <!-- Grid container -->
    <div class="container p-1">
      <!-- Section: Social media -->
      <section class="mb-1">  
        <!-- Linkedin -->
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>

        <!-- Google Scholar -->
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google-scholar"></i
      ></a>
      </section>
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="https://rohanrkamath.com/">rohanrkamath.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->